{% extends 'app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/home.css' %}">
{% endblock css %}
{% block title %}Home{% endblock title %}
{% block main-content %}
<div class="home-container">
  <div class="hero-container">
    <div class="h-text-c">
      <h1 class="h-text">
        Learn <br> More
      </h1>
      <h3 class="sub">Grow More</h3>
    </div>
    <div class="h-img-c">
      <img src="../../static/app/images/banner/book1.jpeg" alt="" class="h-img" id="b-imgs">

    </div>
  </div>
  <div class="hero-offer-notification">
    <div class="offer-notification-cont">
      <p class="notification-title " id='nt'><small style="font-size:14px; margin-right: 10px;">BOOKSTOP* * </small>
        <span class="key">select your poison</span>
        <small style="font-size:14px; margin-left: 10px;"> * * BOOKSTOP</small>
      </p>
    </div>
  </div>










  <div class="filter">
    <div class="isec selected">Medical</div>
    <div class="isec ">Mechanical</div>
    <div class="isec ">Engineering</div>

  </div>

  <div  class="sec prod " id="Medical">
    <div class="home-products">
      {% for t in Medical %}
      <div class="card">
        <a href="{% url 'product-detail' t.id %}" class="product-img">
          <img src="{{t.product_image.url}}" class="card-img-top skeleton" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{t.title}}</h5>
          <p class="card-text">₹ {{t.selling_price}}/-</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div  class="sec prod hide" id="Mechanical">
    <div class="home-products">
      {% for t in Mechanical %}
      <div class="card">
        <a href="{% url 'product-detail' t.id %}" class="product-img">
          <img src="{{t.product_image.url}}" class="card-img-top skeleton" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{t.title}}</h5>
          <p class="card-text">₹ {{t.selling_price}}/-</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
 

  <div  class="sec prod hide" id="Engineering">
    <div class="home-products">
      {% for t in Engineering %}
      <div class="card">
        <a href="{% url 'product-detail' t.id %}" class="product-img">
          <img src="{{t.product_image.url}}" class="card-img-top skeleton" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{t.title}}</h5>
          <p class="card-text">₹ {{t.selling_price}}/-</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
<hr>
<script>

  const img  = document.getElementById('b-imgs')
  const imgs = ['../../static/app/images/banner/book.jpeg','../../static/app/images/banner/book1.jpeg','../../static/app/images/banner/book5.jpeg']
  setInterval(function(){
    const random = Math.floor(Math.random() * 3);
    img.src = imgs[random]
  },1000)





const allopts = document.querySelectorAll('.isec') || [];
const allsecs = document.querySelectorAll('.prod') || [];
allopts.forEach((opt) => {
    opt.addEventListener('click', () => {
        allopts.forEach((ot) => ot.classList.remove('selected'));
        allsecs.forEach((s) => {
            s.classList.add('hide')
            if(opt.textContent === s.id){
                s.classList.remove('hide')
            }
        });
        opt.classList.add("selected");
    })
})
const filter = document.getElementsByClassName('filter')[0] || "";
let dist = filter.getBoundingClientRect().top;
document.addEventListener('scroll', () => {
    if(window.scrollY >= dist){
        filter.style.position = "fixed";
    }else{
        filter.style.position = "unset";   
    }
})
</script>
{% endblock main-content %}