<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/app/css/Changepass.css">
</head>

<body>
  <div class="changepass-cont">
    <p class='p-title'>change password</p>
    <form action="" method="post">
      {% csrf_token %}
      {% for fm in form %}
      {{fm.label_tag}}
      {{fm}}
      {{fm.errors | striptags}}
      {% endfor %}
      <input class="submit" type="submit" value="submit">
      <div class="more">
        new user??
        <a class="more-bt" href="{% url 'customerregistration'  %}">create new account</a>
      </div>
      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      {{error}}
      {% endfor %}
      {% endif %}
    </form>
  </div>
</body>

</html>